body {
  margin: 0;
}

.home {
  background-color: rgb(218, 218, 218);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.home-container {
  margin-top: 100px;
  background-color: white;
  box-shadow: 3px 3px 15px grey;
  border-radius: 10px;
  min-width: 60%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-top: 30px;
}

.title {
  font-size: 20px;
  margin: 0 auto;
}

table {
  width: 90%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

thead {
  border-radius: 10px;
}

thead th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}

th,
td {
  padding-left: 10px;
  padding-right: 10px;
}

td {
  padding-top: 8px;
  padding-bottom: 8px;
}

thead tr {
  background-color: teal;
  color: white;
  text-align: left;
}

tbody tr:nth-of-type(even) {
  background-color: rgb(228, 228, 228);
}

tbody tr:last-of-type {
  border-bottom: 2px solid teal;
}

tbody {
  min-height: 100%;
}

.action-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;
}

.update-button {
  background-color: rgb(65, 65, 215);
  color: white;
}

.delete-button {
  background-color: red;
  color: white;
}

.button-action {
  box-shadow: none;
  padding: 8px 10px;
  border-radius: 4px;
  border: none;
}
